@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Agrandir';
  src: url('/fonts/Agrandir-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}